urllib3==1.26.14
virtualenv==20.24.1
yarl==1.8.2
Django
django-admin-view-permission
django-allauth==0.32.0
django-cache-machine==0.9.1
django-cachalot==2.1.0
django-chunkator
django-crispy-forms
django-debug-toolbar<3
django-durationfield
django-easy-select2
django-extensions
django-fancy-cache<1.0
django-fixture-magic
django-import-export<2
django-ipware==1.1.6
django-jsonify
django-kronos
django-log-request-id
django-markdownx==2.0.23
django-model-utils==3.0.0
django-otp<1.0
django-phonenumber-field>=2.0.0,<5
django-polymorphic<3
django-querycount
django-queryinspect
django-redis==4.8.0
django-reversion==2.0.8
django-sekizai<2
django-ses
django-settings-export
django-smart-selects
django-storages<=1.9.1
django-suit
django-templateaddons3
django-tinymce<3
ipdb
-e git+https://github.com/pavanv/django-tastypie#egg=django_tastypie
